<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef>Descripci&oacute;n</th>
            <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="foto">
            <th mat-header-cell *matHeaderCellDef>Foto</th>
            <td mat-cell *matCellDef="let element"> <img *ngIf="element.foto != null" [src]="element.foto" alt="" style="height: 50px" /> </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <a [routerLink]="['/hotel/edit/', row.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
                <a [routerLink]="" (click)="delete(row.id)" class="btn btn-danger btn-sm float-right">Delete</a>&nbsp;
                <button mat-icon-button (click)="favorite(row.id, row)" *ngIf="!row.destacado || row.destacado == null"><mat-icon>star_border</mat-icon></button>
                <button mat-icon-button (click)="unfavorite(row.id, row)" *ngIf="row.destacado"><mat-icon>star</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
        <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>